main {
  background-color: rgba(0, 0, 0, 0.5)
}


h2 {
  background-image: linear-gradient(to right, #8916b2, #1870bd);
  -webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.valid{
  background: linear-gradient(to right, #4facfe, #00f2fe);
}

.title{
  font-weight: 900;
  font-size: 100px;
  background-image: linear-gradient(to right, #8916b2, #1870bd);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}
.p_hed{
  font-size: 100px;
}

form{
  height: 100px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #1870bd; /* Color de fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
background-color: #8916b2; /* Color del "pulgar" de la barra de desplazamiento */
}

.custom-input {
background-color: #323232;
color: #FFFFFF;
border: none;
}

.custom-btn {
background-image: linear-gradient(to right, #8916b2, #1870bd);
color: #FFFFFF;
border: none;
}

.custom-btn:hover {
background-image: linear-gradient(to right, #ab2fd8, #3c91db);
color: #FFFFFF;
}