{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Document</title>

    <style>
      body{
        background-image: url('https://i.pinimg.com/originals/ef/e8/b0/efe8b0d1b3df102101d5361de4c65e39.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
</head>
<body style="background-color: rgba(0, 0, 0, 0.9);">   
    
    <p>
    <div class="container">
        <table class="table table-bordered border-light">
            <thead>
                <tr>
                    <th scope="col" style="color: white;">#</th>
                    <th scope="col" style="color: white;">Titulares</th>
                    <th scope="col" style="color: white;">Porcentaje</th>
                    <th scope="col" style="color: white;">URL</th>
                </tr>
            </thead>
            <tbody>
                {% for noticia in similares %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ noticia.title }}</td>
                    <td>{{ noticia.similarity }}%</td>
                    <td><a href="{{ noticia.url }}" target="_blank">{{ noticia.url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>



        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>